<h1>Películas</h1>
<h2>Favoritas</h2>
<div class="card" style="width: 18rem;">
  <img src="/assets/thelordofthering.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">The Lord of The Ring</h5>
    <p class="card-text">Acción - Aventura - Drama</p>
    <a href="#" class="btn btn-primary">Comprar</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/assets/starwars.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Avengers: Endgame</h5>
    <p class="card-text">Acción - Aventura - Drama</p>
    <a href="#" class="btn btn-primary">Comprar</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="/assets/inception-leonardo-dicaprio.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Inception</h5>
    <p class="card-text">Acción - Aventura - Sci-Fi</p>
    <a href="#" class="btn btn-primary">Comprar</a>
  </div>
</div>

